        <span class="file_left">
			     <ul id="nav2">
			      <ul>
			       <li>
				      <a href ="<%= ('/user/' + @user_username + '/device/' + @device_dev_name + '/files/' + @fullpath + '?version=' + @blob_version.to_s) %>">
                <%if @blob_thumbnail_name != nil %>
  	            	  <img class="backg" src="<%= "/thumbnails/"  + @device_id + "/" + @blob_thumbnail_name %>"/>
  			        <%else %>
              	 <img class="backg" src="<%= "/thumbnails/vR_no_picture_2.png" %>" alt="No thumbnail" />
  			        <%end %>
			        </a>
            </li>
			    </ul>
			  </ul>
        </span>  <!-- Thumbnail -->
        
        
      <div><span class="file_center">
            <% @fullpath = (@file_path + @file_name.gsub(/[\s]/, '%20'))[1..-1] %>
			       
            <% if @file_path != "/" %>
				<span class="verysmall">
					<%= @file_path[1..-1] %>
				</span>
            <% end %>
            <a href="<%= ('/user/' + @user_username + '/device/' + @device_dev_name + '/files/' + @fullpath + '?version=' + @blob_version.to_s) %>"><%= @file_name %></a><br/>
            <span class="quitesmall"><a href="<%= ('/user/' + @user_username + '/device/' + @device_dev_name + '/fileversions/' + @fullpath) %>">Version list</a></span>
            
			     <br/> <% metadata_path = '/user/' + @user_username + '/device/' + @device_dev_name + '/metadatas/' + @fullpath %>
			     <span class="quitesmall"><%= (" 
									<b>User:</b> " + @user_username + "<br/> 
									<b>Device:</b> " + @device_dev_name + "<br/> 
									<b>Size:</b> " + @blob_size.to_s + " B <br/>  
									<b>Type:</b> " + @file_type + "<br/>  
                  <b>Created_at:</b> " + @file_created_at + " 
									<b>Modified_at:</b> " + @blob_modified_at) + "<br />" +
									"<a href=javascript:showOrHideDiv('metadatas_"+@device_dev_name+"_"+@fullpath.gsub(' ', '%20')+"','text_"+@device_dev_name+"_"+@fullpath.gsub(' ', '%20')+"'); id='text_"+@device_dev_name+"_"+@fullpath.gsub(' ', '%20')+"'>"%> <% if @showMetadata == "true"%><%="Less"%><%else%><%="More"%><%end%><%=" metadata</a>" %>
           	<br/>
            </span>
			</span></div>



        <span class="version_controllers">
        <a href ="#" onclick="var show = 'false'; if( document.getElementById('metadatas_<%=@device_dev_name%>_<%= @fullpath.gsub(' ', '%20') %>').style.display == 'block'){show='true';} new Ajax.Request('/ajax/update/blob', {asynchronous:true, evalScripts:true, method:'post', parameters: 'showMetadata='+show+'&thumb_up=true&file_devfile_id=' + '<%= @file_devfile_id %>' + '&blob_update_id=' + '<%= @blob_id %>' + '&device_name=' + '<%= @device_dev_name %>' + '&username=' + '<%= @user_username%>' + '&device_id=' + '<%= @device_id %>' + '&authenticity_token=' + '<%= form_authenticity_token %>'}); return false;">
          <img src="<%= "/thumbnails/thumb_up.png" %>" alt="Like" title="Like" border="0"/>
        </a> <%= @file_rank%> 
        <a href ="#" onclick="var show = 'false'; if( document.getElementById('metadatas_<%=@device_dev_name%>_<%= @fullpath.gsub(' ', '%20') %>').style.display == 'block'){show='true';} new Ajax.Request('/ajax/update/blob', {asynchronous:true, evalScripts:true, method:'post', parameters: 'showMetadata='+show+'&thumb_down=true&file_devfile_id=' + '<%= @file_devfile_id %>' + '&blob_update_id=' + '<%= @blob_id %>' + '&device_name=' + '<%= @device_dev_name %>' + '&username=' + '<%= @user_username%>' + '&device_id=' + '<%= @device_id %>' + '&authenticity_token=' + '<%= form_authenticity_token %>'}); return false;">
          <img src="<%= "/thumbnails/thumb_down.png" %>" alt="Dislike" title="Dislike" border="0"/><br />
        </a>
          <%if @blob_predecessor_id != nil%>
          <a href="#" onclick="new Ajax.Request('/ajax/update/blob', {asynchronous:true, evalScripts:true, method:'post', parameters: 'file_devfile_id=' + '<%= @file_devfile_id %>' + '&blob_update_id=' + '<%= @blob_predecessor_id %>' + '&device_name=' + '<%= @device_dev_name %>' + '&username=' + '<%= @user_username%>' + '&device_id=' + '<%= @device_id %>' + '&authenticity_token=' + '<%= form_authenticity_token %>'}); return false;">
            <img src="<%= "/thumbnails/vR_previous_version_2.png" %>" alt="previous" border="0"/>
          </a>
          <%end%>
          <span class="quitesmall"><b>Version: </b><%= @blob_version %></span>
          <%if @blob_follower_id != nil%>
          <a href="#" onclick="new Ajax.Request('/ajax/update/blob', {asynchronous:true, evalScripts:true, method:'post', parameters: 'file_devfile_id=' + '<%= @file_devfile_id %>' + '&blob_update_id=' + '<%= @blob_follower_id %>' + '&device_name=' + '<%= @device_dev_name %>' + '&username=' + '<%= @user_username%>' + '&device_id=' + '<%= @device_id %>' + '&authenticity_token=' + '<%= form_authenticity_token %>'}); return false;">
            <img src="<%= "/thumbnails/vR_next_version_2.png" %>" alt="next" border="0"/>
          </a>
          <%end%>
        </span>
        
					
			<span class="file_right">

				<!-- List: -->
				

          <ul id="nav2"> 
            <ul>





<!--
-->
          
				
				

              <!-- Private/public -->
              <% if session[:username] == @user_username %>              
              <% if @file_privatefile then @pripublink = "Private" else @pripublink = "Public" end %>
              <li>&nbsp;<a href="<%= ('/user/' + @user_username + '/device/' + @device_dev_name + '/filerights/' + @fullpath) %>" >
                <% if @file_privatefile %> 
                  <img src="<%= "/thumbnails/vR_private_32.png" %>" alt="Private" border="0"/>
                <% else %>
                  <img src="<%= "/thumbnails/vR_public_32.png" %>" alt="Public" border="0"/>
                <% end %>
              </a>
              </li>
              <% end %>


        
              <!-- Add observer: -->
      				<% if session[:username] %>
              <li><a href="<%= ('/user/' + session[:username] + '/observed?file_uri=' + @file_uri) %>" ><img src="<%= "/thumbnails/vR_notification_4.png" %>" alt="notify me" border="0"/></a> 
                <ul> 
                  <li><a class="first_a" href="#">Observe with node:</a></li>
                  <%if @node_names %>
                  <%@node_names.each do |nick, nodepath| %>
                    <% obsDId = ('obsDId_' + @file_devfile_id.to_s + '_' + nick ) %>
                    <li id="<%= obsDId %>">
                      <% u = ('/user/' + session[:username] + '/observer') %>
                      <a href="#" onclick="new Ajax.Request('<%= u %>', {asynchronous:true, evalScripts:true, method:'put', 
                                parameters: 'file_uri=' + '<%= @file_uri %>' + '&obsDId=' + '<%= obsDId %>' + '&ajax=true&node_path=<%=nodepath%>' + '&authenticity_token=' + '<%= form_authenticity_token %>'}); return false;">
                        <%= nick %>
                      </a>
                    </li>
                  <% end %>
                  <%end%>
                </ul> 
              </li> 
              <% end %>

        
             
              <li>
                <p></p> 
              </li>
           
            </ul>
          </ul> 

				

				
        </span>

    <div class="metadatas" <% if @showMetadata == "true"%>style="display:block"<% else %> style="display:none"<%end%> id="metadatas_<%=@device_dev_name%>_<%= @fullpath.gsub(' ', '%20') %>">
        <br />
        <b>Rank value:</b> <%= @file_rank%> <br /> <br />
        
        <b>Metadatas:</b>
        <ul id="metadatas">
             <% if @metadatas != nil %>
               <% meta = @metadatas[@file_devfile_id.to_i] %>
               <% if meta != nil %>
                 <% meta.each do |key, value| %>
                    <li><b><%= key %></b>: <%= value %></li>
                 <% end %>
               <% end %>
             <% end %> 
        </ul>
        <br />
      <%if @metadatatypes %>
        <b>Add metadata:</b><br />
                     <select id="new_metadata_type_<%=@device_dev_name%>_<%= @fullpath %>">
                       <% @metadatatypes.each do |mtype|%>
                          <option><%=mtype.name%></option>
                       <% end%>
                     </select>
                     <input autocomplete="off" id="new_metadata_value_<%=@device_dev_name%>_<%= @fullpath %>" onkeypress="checkEnter(event, '<%= @user_username %>', '<%= @device_dev_name %>', '<%= @fullpath %>')">
                     <button onclick="save_new_metadata_for_file('<%= @user_username %>', '<%= @device_dev_name %>', '<%= @fullpath %>');">Save</button>
                     
      <% end %>
        
    
    </div>
     
     