<div id="settings_top">
<!--<span>Dropbox Settings</span> &nbsp; -->

<%if params["hide"] == nil or params["hide"] == "true"%>
  <a href="#" onclick="new Ajax.Request('/user/<%= session[:username] %>/dropboxSettings', {asynchronous:true, evalScripts:true, method:'post', parameters: 'hide=false&authenticity_token=' + '<%= form_authenticity_token %>'}); return false;">
    <img src="/thumbnails/dropbox_logo.png" alt="Dropbox logo" /> 
  </a>
  <span class="right">
  <a href="#" onclick="new Ajax.Request('/user/<%= session[:username] %>/dropboxSettings', {asynchronous:true, evalScripts:true, method:'post', parameters: 'hide=false&authenticity_token=' + '<%= form_authenticity_token %>'}); return false;">
    edit
  </a>
  </span>
  </div>
  <span class="subtext">Dropbox integration</span>
<%else%>
  <a href="#" onclick="new Ajax.Request('/user/<%= session[:username] %>/dropboxSettings', {asynchronous:true, evalScripts:true, method:'post', parameters: 'hide=true&authenticity_token=' + '<%= form_authenticity_token %>'}); return false;">
    <img src="/thumbnails/dropbox_logo.png" alt="Dropbox logo" /> 
  </a>
  <span class="right">
  <a href="#" onclick="new Ajax.Request('/user/<%= session[:username] %>/dropboxSettings', {asynchronous:true, evalScripts:true, method:'post', parameters: 'hide=true&authenticity_token=' + '<%= form_authenticity_token %>'}); return false;">
    hide
  </a>
  </span>
  </div>
  
  
<%if not @db_auth_token%>
  <div id="red-box">
    <p>You need to give authorization to access your Dropbox account!</p>
    
    <% if not @dropbox_url %>
      Problem initializing your connection to Dropbox!
    <%else%>
      <a href="<%=@dropbox_url%>">Authorize</a><br />
      <!--Open popup window to <button onclick="basicPopup('<%=@dropbox_url%>');return false">authorize!</button>-->
    <%end%>

  </div>
<%end%>



<%if @db_auth_token %>

  <%if @db_authenticated %>
    <fieldset>
      <legend>Dropbox account</legend>
      <table>
        <tr>
          <th>User:</th>
          <td><%=@db_display_name%></td>
        </tr>
        <tr>
          <th>Email:</th>
          <td><%=@db_email%></td>
        </tr>
        <tr>
          <th>ID:</th>
          <td><%=@db_uid%></td>
        </tr>
      </table>
      
      <center>        
        <button style="align:center;" onclick="plainAjaxButton('/user/<%= session[:username] %>/dropboxDeleteToken', '/user/<%= session[:username] %>/dropboxSettings/')" style="float: right;">Delete DropBox token</button>      
        <button style="align:center;" onclick="connected('dropbox')">Test access token</button>
      </center>
      
    </fieldset>
  
  <%else%>
    <p>PROBLEM WITH CONNECTING TO DROPBOX!</p>
      <center>        
        <button style="align:center;" onclick="plainAjaxButton('/user/<%= session[:username] %>/dropboxDeleteToken', '/user/<%= session[:username] %>/dropboxSettings/')" style="float: right;">Delete DropBox token</button>      
        <button style="align:center;" onclick="connected('dropbox')">Test access token</button>
      </center>
  <%end%>


  <fieldset>
  <legend>You are polling these dropbox folders:</legend>
      
      <table>
        <tr>          
          <th>Dropbox path</th>
          <th>Container name</th>
        </tr>
      
      <% @folders_and_containers.each do |fc| %>
        <tr>          
          <td><%= fc.path %></td>
          <td><%= fc.dev_name %></td>
          <td>
            <button style="align:center;" onclick="plainAjaxButton('/user/<%= session[:username] %>/dbDeletePoller/<%= fc.ud_id %>', '/user/<%= session[:username] %>/dropboxSettings/')" style="float: right;">Delete</button>
          </td> 
        </tr>
      <% end %>
      </table>
  </fieldset>

<%if @folders_and_containers.count < 1 %>

<% form_tag( "/user/" + session[:username] + "/dbCreateDirPoller", :method => "post" ) do %>
   <fieldset>
    <legend>Select dropbox folder that you want to synchronize:</legend>
      
      <% @db_dirs.each do |path| %>
        <br><%= radio_button_tag 'checked_dir', path, false %>
        <%= label_tag "Folder: #{path}", path.humanize %>
      <% end %>
 
    <br />
    <br />
    
    
    <%if @v_containers%>
    Select container:
      <select name="container_name" >      
      <% @v_containers.each do |vc| %>
        <%if vc.dev_name == "dropbox_container" %>
        <!-- Only dropbox_container allowed, for now atleast -->
          <option value="<%=vc.dev_name%>" selected="selected" ><%=vc.dev_name%></option>
        <%end%>
      <% end %>
      </select>
    <%end%>
    
    
    <br />
    <br />
        
    <%= submit_tag "Synchronize", :class => "submit", :name => nil %>
    
  </fieldset>

  <%end%> <!-- form_tag -->

<%else%>
  <div id="red-box">
    <p>Each user can only have one Dropbox folder to sync.</p>
  </div>
<%end%> <!-- count > 1 -->

  <fieldset>
    <legend>Send file to Dropbox</legend>
    <center>
      <p title="uri to the file in VisualREST that will be sent to Dropbox">file_uri: <input id="db_file_uri" size=60></p>
      <p title="path to folder in dropbox where the file is saved">Dropbox path: <input id="db_dropbox_path" size=54></p>
      <button style="align:center;" onclick="dropboxSendFile()">Send to Dropbox</button>  <br />
      
    </center>
    
  </fieldset>


<%end%>


  
<%end%> <!-- db_auth_token -->
  
  
  
  
  
