<div id="settings_top">
<span>Group settings</span>
<%if params["hide"] == nil or params["hide"] == "true"%>
  <%puts "hide"%>
  <span class="right">
  <a href="#" onclick="new Ajax.Request('/ajax/groupsettings', {asynchronous:true, evalScripts:true, method:'post', parameters: 'hide=false&authenticity_token=' + '<%= form_authenticity_token %>'}); return false;">
    edit
  </a>
  </span>
  </div>
  <span class="subtext">Manage your groups and members</span>


<%else%>
  <%puts "show"%>
  <span class="right">
  <a href="#" onclick="new Ajax.Request('/ajax/groupsettings', {asynchronous:true, evalScripts:true, method:'post', parameters: 'hide=true&authenticity_token=' + '<%= form_authenticity_token %>'}); return false;">
    hide
  </a>
  </span>
  </div>
  
  <!--
  <br/>
  <fieldset>    
  <legend>Your groups:</legend>
  <ul>
  <% @groups.each do |group| %>
  <li><%= group.name %></li>
  <% end %>
  </ul>
  </fieldset> -->
 
 <% if @groups != nil %>
 <fieldset>
  <legend>Your groups:</legend>
  <table>
  <%editID=0%>
  <% @groups.each do |x| %>
    <tr>
      <td>
        <div id="deletegroup_<%=editID%>"><%= x.name %></div>
      </td>
      <td>
        <button onclick="deleteGroup('deletegroup_<%=editID%>');">Delete</button>
      </td>
      <!--<td>
       <button onclick="deleteGroup('deletegroup_<%=editID%>');">Edit users</button>
      </td>-->
    </tr>
    <%editID=editID+1%>
  <% end %>
  </table>
  <br/>
  Manage members <%= link_to "here", :controller => "user", :action => "editUsersGroups", :username => session[:username]%>
 </fieldset>
<% end %>
 
 
<fieldset onkeypress="checkEnterAddGroup(event)">
  <legend>Add new group:</legend> 
  <input id="newGroup" value="">
  <button  onclick="addNewGroup('newGroup');">Add</button>
</fieldset>

 
<!--
<div id="newEmail"> 
  <b>Add new group:</b><br /> 
  <input id="newGroup" value=""> 
  <button  onclick="addNewGroup('newGroup');" onkeypress="checkEnterNewGroup(event)">Add</button> 
</div>
-->
 
 
 
 <!--
 
  <p>
  <%= link_to "Add new group", :controller => "user", :username => session[:username], :action => "addGroup" %>
  </p>
  
  <p>
    <%= link_to "Manage users in groups", :controller => "user", :action => "editUsersGroups", :username => session[:username]%>
  </p>
  -->
  
<%end%>