<div id="settings_top">

<%if params["hide"] == nil or params["hide"] == "true"%>
  <a href="#" onclick="new Ajax.Request('/user/<%= session[:username] %>/groupSettings', {asynchronous:true, evalScripts:true, method:'get', parameters: 'hide=false&authenticity_token=' + '<%= form_authenticity_token %>'}); return false;">
  <span>Group settings</span>
  </a>
  <span class="right">
  <a href="#" onclick="new Ajax.Request('/user/<%= session[:username] %>/groupSettings', {asynchronous:true, evalScripts:true, method:'get', parameters: 'hide=false&authenticity_token=' + '<%= form_authenticity_token %>'}); return false;">
    edit
  </a>
  </span>
  </div>
  <span class="subtext">Manage your groups and members</span>


<%else%>
  <a href="#" onclick="new Ajax.Request('/user/<%= session[:username] %>/groupSettings', {asynchronous:true, evalScripts:true, method:'get', parameters: 'hide=true&authenticity_token=' + '<%= form_authenticity_token %>'}); return false;">
  <span>Group settings</span>
  </a>
  <span class="right">
  <a href="#" onclick="new Ajax.Request('/user/<%= session[:username] %>/groupSettings', {asynchronous:true, evalScripts:true, method:'get', parameters: 'hide=true&authenticity_token=' + '<%= form_authenticity_token %>'}); return false;">
    hide
  </a>
  </span>
  </div>
  
 
 <% if @groups != nil %>
 <fieldset>
  <legend>Your groups:</legend>
  <table>
  <%editID=0%>
  <% @groups.each do |x| %>
    <tr>
      <td>
        <div><a href="/user/<%= session[:username] %>/group/<%= x.name %>" id="deletegroup_<%=editID%>"><%= x.name %></a></div>
      </td>
      <td>
        <button onclick="deleteGroup('deletegroup_<%=editID%>');">Delete</button>
      </td>
      <!--<td>
       <button onclick="deleteGroup('deletegroup_<%=editID%>');">Edit users</button>
      </td>-->
    </tr>
    <%editID=editID+1%>
  <% end %>
  </table>
  <br/>
  Manage members <%= link_to "here", :controller => "user", :action => "editUsersGroups", :username => session[:username]%>
 </fieldset>
<% end %>
 
 
<fieldset onkeypress="checkEnterAddGroup(event)">
  <legend>Add new group:</legend> 
  <input id="newGroup" value="">
  <button  onclick="addNewGroup('newGroup');">Add</button>
</fieldset>


 
  
<%end%>