<h1>Help</h1>
<p><del><%= link_to "Query instructions", :controller => 'query', :action => 'doInstructions' %></del> &nbsp;
<%= link_to "File Query instructions", :controller => 'query', :action => 'fileQueryInstructions' %></p>
<p><%= link_to "Context instructions", :controller => 'query', :action => 'contextInstructions' %></p>
<p><%= link_to "Client authentication instructions", :controller => 'query', :action => 'authenticationInstructions' %></p>
<p><%= link_to "Virtual device instructions", :controller => 'query', :action => 'virtualDeviceInstructions' %></p>
<p><%= link_to "Email instructions", :controller => 'query', :action => 'emailInstructions' %></p>
<p><%= link_to "Flickr instructions", :controller => 'query', :action => 'flickrInstructions' %></p>
<p><%= link_to "User instructions", :controller => 'query', :action => 'userInstructions' %></p>